{% extends 'base.html.twig' %}

{% block title %}Censurator | {{ parent() }}{% endblock %}

{% block body %}
<h2>Test du service Censurator</h2>

<h3>Description</h3>
<p>{{ description }}</p>
<h3>Version nettoyée</h3>
<p>{{ purified }}</p>
{% endblock %}

